<div id="header">
  <section class="section_content section_custom" >
    <div class="logo">
      <div>
        <img src="/assets/images/logo.png" />
      </div>
    </div>
    <!-- /div.logo -->

    <div class="header-right main-font">
      <div class="header-right-container">
        <ul>

          <li class="objects">
            <app-header-hotels></app-header-hotels>
          </li>
          <!-- /li.objects -->

          <li class="language" data-bind="">
            <app-language-header></app-language-header>
          </li>
          <!-- /li.language -->

          <li class="separator"><div></div></li>
          <!-- /li.separator -->

          <li class="profile">
            <app-header-profile></app-header-profile>
          </li>
          <!-- /li.profile -->

        </ul>
      </div>

    </div>
    <!-- /div.header-right.main-font -->

  </section>
</div>
