h2.title {
  text-transform: uppercase;
  line-height: normal;
  font-size: 18px;
}

form.tmp_form {
  padding: 20px;
}

#map_canvas {
  width: 100%;
  height: 400px;
  color: rgb(127, 140, 141);
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

label {
  font-size: 1.2em;
  display: inline-block;
  width: 27%;
}

form.tmp_form label {
  width: 20%;
  display: inline-block;
  float: left;
  text-align: left;
  margin-left: 20px;
}

.form-control {
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  display: block;
  width: 100%;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px;
  background: #fff;
  border: 1px solid #5f5e5e;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #5f5e5e;
  outline: 0!important;
}

form.tmp_form input {
  width: 77%;
  display: inline-block;
  float: left;
}
