/* @import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'; */

/*@import "~bootstrap/dist/css/bootstrap.css";*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, "Helvetica Neue", Arial,sans-serif !important;
  font-size: 12px;
  height: calc(100vh);
  background: #eee;
  color: #5f5e5e;
  overflow: hidden;
  outline: 0;
  line-height: 1;
}
