<div id="container">
  <app-widget-header></app-widget-header>
  <section class="section-content">
    <div id="content-container">
      <app-navigation-left-admin></app-navigation-left-admin>
      <div id="content" class="">
        <!--<nav>
          <a routerLink="./" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
          <a routerLink="./users" routerLinkActive="active">Manage users</a>
          <a routerLink="./hotels" routerLinkActive="active">Manage hotels</a>
        </nav>-->
        <article class="article_custom modeobjects">
          <router-outlet></router-outlet>
        </article>

      </div>
    </div>
  </section>
</div>
