<h2>Hotels</h2>

<!--<div>
  <label>Hotelname:
    <input #heroName />
  </label>
  &lt;!&ndash; (click) passes input value to add() and then clears the input &ndash;&gt;
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>-->

<ul class="hotels">
  <li *ngFor="let hotel of hotels">
    <a routerLink="/hotel/{{hotel.id}}">
      <!--<span class="badge">{{hotel.id}}</span>--> <!--{{hero.name}}-->
      <div *ngFor="let hotel_name of hotel.name">
        <div *ngIf="hotel_name.language == 'ru'">{{hotel_name.value}}</div>
      </div>
    </a>

    <!--<span class="badge">{{hotel.id}}</span>-->
    <!--<button class="delete" title="delete hotel"
            (click)="delete(hotel)">x</button>-->
  </li>
</ul>

<button routerLink="/sidekicks">Go to sidekicks</button>